// media q INDEX 375]//


.buttons-dest1:hover{
    color: black;
    background-color: grey;
}

// MQ PRDUCTOS 375//

.buttons:hover{
    color: black;
    background-color:grey;
}

// MEDIA Q 375 MI CUENTA//

.button-login:hover{
    color: black;
    background-color: grey;
}



