.buttons-dest1{
    color: $color-button;
    background-color: $background-button;
}


.buttons:hover {
    color: $color-button;
    background-color: $background-button;
}


.button-login:hover {
    color: $color-button;
    background-color: $background-button;
}