@media (min-width:375px){

    .contenedor-ofertas{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin-top: 20px;
        margin-bottom: 25px;
    }


    .ofertas-txt{
        display: flex;
        justify-content: center;
        margin-top: 40px;
        margin-bottom: 40px;
    
    
    & .ofertas{
        font-size: 1.3rem;
        font-family:$tipografia-principal;
        margin-bottom: 30px;
    }
}
}

@media(min-width:700px){

    .contenedor-ofertas{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

@media (min-width:1023px){
    
    .contenedor-ofertas{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 40px;
    }

}